#ingredients, #instructions {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  min-height: 360px;
  border-radius: 5px;
  padding: 2em 8%;
}

#ingredients {
  font-family: 'Roboto', sans-serif;
}

#review-box {
  height: 80px;
  width: 500px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.br-theme-css-stars .br-widget a {
    width: 60px !important;
    font-size: 55px !important;
}

.br-theme-css-stars .br-widget {
    height: 75px !important;
}

.upload-photo {
  border: #d3d3d3 solid 1px;
  padding: 24px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
}

