@import "cards";
@import "forms";
@import "recipe_show_page";

body {
  background-color: #e5eaf5 !important;
}

i.fas {
  font-family: fontawesome !important;
}

.gold {
  color: rgb(255, 215, 0);;
}
