.recipe_info {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  min-height: 300px;
  border-radius: 5px;
  padding: 2em 8%;
  width: 98%;
}

.recipe_row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .recipe_row {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .recipe_row {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .recipe_row {
    grid-template-columns: 1fr 2fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .recipe_row {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .recipe_row {
    grid-template-columns: 1fr 3fr;
  }
}

